<!DOCTYPE html>
<html dir="rtl" lang="ar">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>safka</title>

  <!-- bootstrap core css -->
  <!-- <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.min.css" /> -->
  <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.rtl.min.css" />

  <!-- font awesome style -->
  <link rel="stylesheet" href="vendors/fontAwesome/css/all.min.css" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />

</head>

<body>

  <!-- header section strats -->
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="index.html">
          <img src="images/logo.png" alt="">
        </a>

        <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fa-solid fa-ellipsis"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
          <div class="d-flex m-auto">
            <ul class="navbar-nav my-3 my-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="#">الرئيسية</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">الخدمات</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">من نحن</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">تواصل معنا</a>
              </li>
            </ul>
          </div>
          <div class="contact-links">
            <a href="https://www.facebook.com/groups/1365862090581110" class="contact-link">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="tel:01090371071" class="contact-link">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->

  <!-- slider section -->
  <section class="slider_section">
    <div class="container ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <h1>
              <span>افلييت صفقة</span> <br>
              سجل مجانا الان
            </h1>
            <p>مع افلييت صفقة تقدر تفتح حساب مجاني وفي خطوات سريعة دا غير ان افلييت صفقة بيوفرلك نظام متكامل تقدر تدير
              بيه حسابك</p>
            <div class="btn-box">
              <a href="https://aff.safka-eg.com/register" class="btn-1">
                تسجيل حساب جديد
              </a>
              <a href="https://aff.safka-eg.com/login" class="btn-2">
                تسجيل دخول
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box d-none d-lg-block">
            <img src="images/header1.webp" alt="header">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->

  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="images/about-img.webp" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                <span>
                  من نحن
                </span> <br>
                زود مبيعاتك
                مع افلييت صفقة
              </h2>
            </div>
            <p>
              افلييت صفقة بيوفرلك كل الادوات اللي هتحتاجها علشان تبدا كمسوق او كتاجر وكمان بيوفرلك سهولة في التعامل
              وادارة حساباتك بشكل دقيق دا غير الدعم الفني اللي هتلاقيه موجود معاك في كل مشكلة وعلى مدار اليوم.
            </p>
            <a href="https://aff.safka-eg.com/register">
              المزيد
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

  <!-- service section -->
  <section class="service_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          <span>
            الخدمات
          </span>
        </h2>
      </div>
    </div>
    <div class="container ">
      <div class="row">
        <div class="col-md-4">
          <div class="box ">
            <div class="img-box">
              <img src="images/s1.png" alt="">
            </div>
            <div class="detail-box">
              <h4>هوامش ربح من الآخر</h4>
              <p>
                أفضل نظام عمولات و أسرع منظومة مدفوعات..و هندعمك تزود مبيعاتك.. و تزيد معاها عمولتك و قبضك يكون أسرع
              </p>
            </div>
          </div>
          <div class="box ">
            <div class="img-box">
              <img src="images/s2.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                أفضل تخزين و أسرع شحن
              </h4>
              <p>
                خدمة شحن سريعة و متميزة تضمن أعلى نسب تحقيق
                هنوصلك الطلب لعميلك فى اى مكان و كمان نتابع معاه لحد الاستلام .
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 service_col_middle">
          <div class="box ">
            <div class="img-box">
              <img src="images/s3.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                تشكيلة كبيرة من منتجات متنوعة
              </h4>
              <p>
                من الإبرة للصاروخ...متجات تجميل..ملابس...أحذية..أدوات شخصية..إلكترونيات...إكسسوارات..و حاجات تانية كتير
              </p>
            </div>
          </div>
          <div class="btn-box">
            <a href="https://aff.safka-eg.com/register">
              المزيد
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box ">
            <div class="img-box">
              <img src="images/s4.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                دايماً معاك
              </h4>
              <p>
                جروب فيس بوك مخصوص للدعم و التحديثات بإدارة فريق مديري المسوقين و بدعم من فريق أفلييت صفقة..هتوصلك كل
                التحديثات أول بأول
              </p>
            </div>
          </div>
          <div class="box ">
            <div class="img-box">
              <img src="images/s4.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                كول سنتر متخصص
              </h4>
              <p>
                فريق عمل مخصوص للكول سنتر اللي هيتابع و يأكد الاوردر مع العميل لحد الستلام و كمان رأي العميل.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end service section -->

  <!-- pay section -->
  <section class="pay_section">
    <div class="container ">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/pay-img.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                سوق واسحب ارباحك بسهولة
              </h2>
              <p>
                بعد ما بتسوق منتجاتك بتقدر تسحب ارباحك بسهوله من خلال وسائل دفع متعددة.
              </p>
              <a href="https://aff.safka-eg.com/register">
                المزيد
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end pay section -->

  <!-- contact section -->
  <section class="contact_section layout_padding-bottom mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <div class="heading_container">
              <h2>
                <span>
                  تواصل معنا
                </span>
              </h2>
            </div>
            <form action="">
              <div>
                <input type="text" placeholder="الاسم" />
              </div>
              <div>
                <input type="email" placeholder="البريد الالكتروني" />
              </div>
              <div>
                <input type="tel" placeholder="رقم الهاتف" />
              </div>
              <div>
                <input type="text" class="message-box" placeholder="الرساله" />
              </div>
              <div class="btn_box">
                <button>
                  حفظ
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="heading_container">
            <h2>
              <span>
                تواصل معنا
              </span>
            </h2>
            <p>
              تقدر تشترك في الرسايل الاخباريه علشان تتابع كل جديد
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <!-- info section -->
  <section class="info_section ">

    <div class="container">
      <div class="contact_nav">
        <div class="box">
          <a href="">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <h4>
              العنوان
            </h4>
            <span>
              الجيزة
            </span>
          </a>
        </div>
        <div class="box">
          <a href="tel:201090371071">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <h4>
              رقم الهاتف
            </h4>
            <span>
              010 903 710 71
            </span>
          </a>
        </div>
        <div class="box">
          <a href="">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <h4>
              Email
            </h4>
            <span>
              info@safka.com
            </span>
          </a>
        </div>
      </div>
      <div class="col-md-5 mx-auto">
        <hr>
      </div>
      <div class="info_links">
        <div class="info_links_menu">
          <a class="#" href="#">الرئيسية <span class="sr-only">(current)</span></a>
          <a class="#" href="#">الخدمات</a>
          <a class="#" href="#"> من نحن</a>
          <a class="#" href="#">تواصل معنا</a>
        </div>
      </div>
    </div>
  </section>
  <!-- end info_section -->


  <!-- bootstrap js -->
  <script src="vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendors/fontAwesome/js/all.min.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>

</body>

</html>
